#header, #main, #copyright {
    width: 900px;
    margin: auto;
    text-align: center;
    background-color: #f0f8ff;
}

.tab {
     width: 400px;
     height: 40px;
}

#example {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 150%;
}

#input {
    margin-right: 30px;
    width: 130px;
}

#submit {
    background-color: #7fffd4;
}

#result {
    margin-top: 30px;
}

#operation {
    margin-top: 50px;
    margin-bottom: 30px;
}

#operation input {
    margin-top: 20px;
    margin-right: 20px;
}

#copyright {
   margin-top: -100px;
   padding-top: 400px;
}

#main {
    margin-top: -50px;
    padding-top: 50px;
}